/* Fondo transparente en la barra de navegación */
.barra-navegacion--transparente {
    background-color: transparent;
}

@media (hover:hover) and (pointer: fine) {
    .barra-navegacion:hover {
        background-color: white;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    text-align: center;
}

.error-codigo {
    font-size: 10rem;
}

.error-descripcion {
    margin-bottom: 2rem;
    text-transform: lowercase;
}

.propuesta-indecente {
    font-family: "Dancing Script";
    font-size: 1.5rem;
}