body {
    min-height: 500dvh;
}



.contenedor-como-funciona {
    display: flex;
    justify-content: center;

    border-radius: 1rem;
    overflow: hidden;

    background-color: white;

    margin-top: 5rem;
}

.como-funciona-contenido,
.como-funciona-imagen {
    flex: 0 0 50%;
    max-width: 50%;
}

.como-funciona-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.como-funciona-contenido-interno {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.como-funciona-encabezado {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.como-funciona-imagen {
    /* Si no lo usas, la imagen se estira */
    object-fit: cover;
    /* Evita zoom al crecer */
    aspect-ratio: 4 / 3;
    max-height: 550px;
}

.como-funciona-contenido .cta {
    border: 1px solid var(--color-texto);
    padding: .5rem 1rem;
    margin-top: 3rem;
}

.cta {
    display: inline-block;
    padding: .25rem .75rem;
    border-radius: .25rem;
    text-align: center;
    background-color: white;
    color: var(--color-texto);
    transition: background .2s ease-out, color .2s ease-out, box-shadow .2s ease-out, webkit-box-shadow .2s ease-out;
    text-transform: lowercase;
}

.cta:hover {
    background-color: var(--color-texto);
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .1);
}

@media (max-width: 700px) {
    .contenedor-como-funciona {
        flex-direction: column;
    }
}