.barra-navegacion {
    background-color: var(--color-fondo);
}

.barra-navegacion--transparente {
    background-color: transparent;
}

/* @media (hover:hover) and (pointer: fine) {
    .barra-navegacion:hover {
        background-color: white;
    }
} */

.sobre-nosotros-tarjeta {
    position: relative;
    display: block;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    /* background-color: #f2dde0; */
    /* background-image: radial-gradient(circle at center, #f2dde0 10%, var(--color-fondo) 90%); */
    display: flex;
    /* border-radius: 1rem; */
    /* border-left: 1px solid var(--color-texto);
    border-right: 1px solid var(--color-texto); */
    border: 1px solid var(--color-texto);
}

.sobre-nosotros-media {
    position: absolute;
    width: auto;
    height: 75%;
    bottom: 0;
    left: 0;
}

.sobre-nosotros-media img {
    height: 100%;
}

.sobre-nosotros-espaciado {
    flex: 0 0 30%;
}

.sobre-nosotros-texto {
    flex: 0 0 70%;
    margin-top: 10%;
}

.sobre-nosotros-firma {
    font-family: "Dancing Script";
    font-size: 4rem;
    margin-bottom: 2rem;
}

.nombre {
    border-bottom: .25rem solid #ffa9ab;
}

.sobre-nosotros-parrafos {
    line-height: 2;
    text-transform: lowercase;
    /* background-color: blue; */
    padding-right: 2rem;
}

.sobre-nosotros-parrafos p {
    margin-bottom: 1.5rem;
}

.parrafo-final {
    margin-top: 2rem;
    font-weight: 600;
}

@media (max-width: 900px) {
    .sobre-nosotros-tarjeta {
        border: none;
        /* border-top: 1px solid var(--color-texto); */
        border-bottom: 1px solid var(--color-texto);
    }
}

@media (max-width: 700px) {
    .sobre-nosotros-espaciado {
        flex: 0 0 40%;
    }
    
    .sobre-nosotros-texto {
        flex: 0 0 60%;
        margin-top: 10%;
    }

    .sobre-nosotros-parrafos {
        line-height: 1.5;
        padding-right: 1rem;
    }
    
    .sobre-nosotros-parrafos p {
        margin-bottom: 1.25rem;
    }
}

@media (max-width: 525px) {
    .sobre-nosotros-media {
        height: 60%;
    }
}