/* ===== ✍️ FUENTES ===== */

@font-face {
    font-family: "Tan Nimbus";
    src: url("/assets/fonts/tan-nimbus/tan-nimbus.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* 
    Fuentes alternativas para "TT Chocolates": 
    "Poppins", "Helvetica Neue", Arial, sans-serif
*/
@font-face {
    font-family: "TT Chocolates";
    src: url("/assets/fonts/tt-chocolates/tt-chocolates-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Chocolates";
    src: url("/assets/fonts/tt-chocolates/tt-chocolates-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/*
    Fuentes alternativas para "Univers 67 Condensed":
    "Helvetica Neue Condensed", "Arial Narrow", sans-serif
*/
@font-face {
    font-family: "Univers 67 Condensed";
    src: url("/assets/fonts/univers-67-condensed/univers-67-condensed-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/*
    Fuentes alternativas para "Univers LT Std":
    "Helvetica Neue", Helvetica, Arial, sans-serif
*/
@font-face {
    font-family: "Univers LT Std";
    src: url("/assets/fonts/univers-lt-std/univers-lt-std-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Univers LT Std";
    src: url("/assets/fonts/univers-lt-std/univers-lt-std-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* ===== 🎨 COLORES ===== */

:root {
    /* ----- Brindis ----- */
    --color-barbie: #f43662;
    --color-chicle: #f691a9;
    --color-mandarina: #f4863e;
    --color-pomelo: #f86d68;
    --color-baby-pink: #f7d4d8;
    --color-sunshine: #e3b055;

    /* ----- Kylie Cosmetics ----- */
    /* Fondo general y hoven en navbar */
    --color-fondo: #f8f1f4;
    /* Encabezados e íconos de redes sociales */
    --color-principal: #b3848f;
    --color-texto: #393939;
    /* Banner promocional */
    --color-acento: #efd7e5;
}

/* ===== 🧱 ESTILOS BÁSICOS ===== */

/* Mejor control y más eficiente que utilizar el selector */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* Funciona mejor que `vh` para móviles */
    min-height: 100dvh;
    /* 
        Evita que el navegador haga cosas raras al intentar aplicar un font-style 
        no disponible a una fuente personalizada (@font-face) 
    */
    font-synthesis: none;
}

ul,
ol {
    list-style-type: none;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
    /* Mostrar el contorno (outline) al tabular sobre el botón */
    outline: revert;
    box-sizing: border-box;
}

/* Asegurar que los elementos que reciben el foco a través de la tabulación muestren su contorno */
:focus-visible {
    outline: auto;
}

/* Evitar que el texto se pueda seleccionar */
.no-seleccionar {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
}

/* Quitar cuadrado gris al pulsar en iPhone */
button, a, input, textarea, select {
    -webkit-tap-highlight-color: transparent;
  }



