/* ===== ✍️ FUENTES ===== */

@font-face {
    font-family: "Tan Nimbus";
    src: url("/assets/fonts/tan-nimbus/tan-nimbus.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* 
    Fuentes alternativas para "TT Chocolates": 
    "Poppins", "Helvetica Neue", Arial, sans-serif
*/
@font-face {
    font-family: "TT Chocolates";
    src: url("/assets/fonts/tt-chocolates/tt-chocolates-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Chocolates";
    src: url("/assets/fonts/tt-chocolates/tt-chocolates-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/*
    Fuentes alternativas para "Univers 67 Condensed":
    "Helvetica Neue Condensed", "Arial Narrow", sans-serif
*/
@font-face {
    font-family: "Univers 67 Condensed";
    src: url("/assets/fonts/univers-67-condensed/univers-67-condensed-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/*
    Fuentes alternativas para "Univers LT Std":
    "Helvetica Neue", Helvetica, Arial, sans-serif
*/
@font-face {
    font-family: "Univers LT Std";
    src: url("/assets/fonts/univers-lt-std/univers-lt-std-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Univers LT Std";
    src: url("/assets/fonts/univers-lt-std/univers-lt-std-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}


/* ===== 🎨 COLORES ===== */

:root {
    /* ----- Brindis ----- */
    --color-barbie: #f43662;
    --color-chicle: #f691a9;
    --color-mandarina: #f4863e;
    --color-pomelo: #f86d68;
    --color-baby-pink: #f7d4d8;
    --color-sunshine: #e3b055;

    /* ----- Kylie Cosmetics ----- */
    /* Fondo general y hoven en navbar */
    --color-fondo: #f8f1f4;
    /* Encabezados e íconos de redes sociales */
    --color-principal: #b3848f;
    --color-texto: #393939;
    /* Banner promocional */
    --color-acento: #efd7e5;
}

/* ===== 🧱 ESTILOS BÁSICOS ===== */

/* Mejor control y más eficiente que utilizar el selector (*) */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* `dvh` funciona mejor que `vh` para móviles */
    min-height: 100dvh;
    /* 
        Evita que el navegador haga cosas raras al intentar aplicar un font-style 
        no disponible a una fuente personalizada (@font-face) 
    */
    font-synthesis: none;
}

ul,
ol {
    list-style-type: none;
}

img,
svg,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
    /* Mostrar el contorno (outline) al tabular sobre el botón */
    outline: revert;
    /* Aunque se aplique a (*), lo pierde al hacer el all: unset */
    box-sizing: border-box;
}

/* Asegurar que los elementos que reciben el foco a través de la tabulación muestren su contorno */
:focus-visible {
    outline: auto;
}

/* Quitar cuadrado gris al pulsar en iPhone */
button,
a,
input,
textarea,
select {
    -webkit-tap-highlight-color: transparent;
}


/* ===== 🧱 ESTILOS GENERALES ===== */

html {
    font-family: "TT Chocolates", "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-texto);
    background-color: var(--color-fondo);
}

.contenedor {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 3rem;
}

.encabezado {
    font-family: "Univers LT Std";
    font-weight: 700;
    color: var(--color-principal);
}

.cta {
    display: inline-block;
    padding: .25rem .75rem;
    border-radius: .25rem;
    text-align: center;
    background-color: white;
    color: var(--color-texto);
    transition: background .2s ease-out, color .2s ease-out, box-shadow .2s ease-out, webkit-box-shadow .2s ease-out;
    text-transform: lowercase;
}

.cta:hover {
    background-color: var(--color-texto);
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .1);
}

/* 
    Evitar que el texto se pueda seleccionar
    👁️: Pendiente de revisión 
 */
.no-seleccionar {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
}


/* ===== 👻 HEADER ===== */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Nivel Superior */
.barra-navegacion {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: white;
    transition: background-color .3s ease;
    z-index: 100;
}

.barra-navegacion--menu-abierto {
    background-color: white !important;
}

.barra-navegacion-izquierda {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.barra-navegacion-derecha {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Soluciona un error donde <li> mide +5px de alto */
.barra-navegacion li {
    display: flex;
}

/* ⬅️ Parte Izquierda */
.barra-navegacion-izquierda-movil {
    display: none;
}

.barra-navegacion-izquierda-escritorio {
    display: flex;
    gap: 1rem;
}

.barra-navegacion-izquierda-escritorio li a {
    display: block;
    padding: .6rem;
}

.barra-navegacion-izquierda-escritorio li a:hover {
    background-color: var(--color-fondo);
    border-radius: .25rem;
}

@media (max-width: 1200px) {
    .barra-navegacion-izquierda-escritorio {
        display: none;
    }

    /* Necesita la referencia específica para sobrescribir el estilo que soluciona el +5px de alto */
    .barra-navegacion-acciones .boton-cuenta {
        display: none;
    }

    .barra-navegacion-izquierda-movil {
        display: flex;
        gap: 1.5rem;
    }
}

/* ➡️ Parte Derecha */
.barra-navegacion-acciones {
    display: flex;
    gap: 1.5rem;
}

/* 🖼️ Logo */
.logo {
    font-family: "Univers 67 Condensed";
    font-size: 1.2rem;
    color: var(--color-texto);
}

/* 🖼️ Iconos */
.icono {
    width: 1.5rem;
    color: var(--color-texto);
}

.icono-favoritos {
    fill: transparent;
    transition-property: fill transform;
    transition-duration: .35s;
}

/* 👁️ Se puede mejorar asignando una clase especial al <li> de favoritos */
.barra-navegacion-acciones button:hover .icono-favoritos {
    fill: var(--color-barbie);
    transform: rotate(15deg) scale(1.2);
}

/* Menú Lateral */
/* El top, height y width se calculan dinámicamente desde JS */
.menu-lateral {
    position: fixed;
    left: 0;
    background-color: white;

    overflow: hidden;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.menu-lateral.activo {
    clip-path: inset(0 0 0% 0);
    opacity: 1;
    pointer-events: auto;
}

/* Animación icono hamburguesa */
.boton-hamburguesa .linea {
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 300ms ease, opacity 300ms ease;
}

.boton-hamburguesa[aria-expanded="true"] .linea {
    transition: transform 300ms ease, opacity 300ms ease;
}

/* 📱 Responsive */
@media (max-width: 1200px) {
    .barra-navegacion {
        padding: 1rem 1.25rem;
    }

    .logo {
        font-size: 1rem;
    }
}