/* 🛝 PLAYGROUND */
body {
    min-height: 500vh;
}


/* Fondo transparente en la barra de navegación */
.barra-navegacion--transparente {
    background-color: transparent;
}

@media (hover:hover) and (pointer: fine) {
    .barra-navegacion:hover {
        background-color: white;
    }
}


/* 🍾 BANNER PROMOCIONAL */
.banner-promocional {
    padding: .25rem;
    background-color: var(--color-acento);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-align: center;
    line-height: 1.5rem;
}


/* 🍾 HERO BANNER */
.hero-banner {
    display: flex;
    position: relative;
    width: 100%;
    /* Height calculado con JS */
}

.hero-banner-imagen {
    position: absolute;
    /* Top y height calculado con JS */
    left: 0;
    width: 100%;

    object-fit: cover;
    object-position: top;
}

.hero-banner-contenido {
    /* display: none; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
}

.hero-banner-encabezado,
.hero-banner-texto {
    display: none;
}

.hero-banner-cta {
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--color-texto);
    color: white;
    transition: background .2s ease-out, color .2s ease-out, box-shadow .2s ease-out, webkit-box-shadow .2s ease-out;

    margin-bottom: 5rem;
}

.hero-banner-cta:hover {
    background-color: white;
    color: var(--color-texto);
    text-shadow: 0 3px 8px rgba(0, 0, 0, .1);
}


/* 🍾 MARQUEE */
.marquee {
    display: flex;
    overflow: hidden;
    gap: .5rem;
    position: relative;
    user-select: none;
    background-color: white;
    padding: 1.5rem;
}

.marquee-contenido {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: .5rem;

    animation: desplazar 20s linear infinite;
}

.marquee:hover .marquee-contenido {
    animation-play-state: paused;
}

@keyframes desplazar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@media (max-width: 650px) {
    .marquee {
        gap: 2rem;
    }

    .marquee-contenido {
        gap: 2rem;
    }
}


/* 🍾 PRODUCTOS */
.productos {
    margin-top: 3rem;
}

.productos-contenedor {
    display: flex;
    flex-wrap: nowrap;
    /* Permite hacer scroll */
    overflow-x: auto;
    gap: 1.5rem;
    /* Esconder la scrollbar */
    scrollbar-width: none;
    /* Sin el, se ve un poco el color de fondo de .producto-tarjeta en la parte inferior */
    align-items: center;
}

.productos-encabezado {
    margin: 1.5rem 0;
}

.producto-tarjeta {
    flex-grow: 0;
    flex-shrink: 1;
    /* 4 tarjetas menos el gap (1.5rem x 3 / 4) */
    flex-basis: calc(25% - 1.125rem);

    border-radius: .75rem;
    overflow: hidden;
    position: relative;
}

.product-tarjeta a {
    display: block;
    width: 100%;
    height: 100%;
}

.producto-tarjeta img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform .4s ease;
}

.producto-tarjeta:hover img {
    transform: scale(1.08);
}

.producto-tarjeta h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin: 1rem 2rem;

    font-family: "TT Chocolates";
    font-weight: 700;
    font-size: 1rem;
    color: white;
    /* text-transform: lowercase; */
    text-shadow:
        0 1px 1px rgba(0, 0, 0, 0.3),
        0 2px 4px rgba(0, 0, 0, 0.2),
        0 0 8px rgba(255, 255, 255, 0.15);
    ;
}

/* Activar deslizado */
@media (max-width: 750px) {
    .producto-tarjeta {
        flex-shrink: 0;
        flex-basis: 250px;
    }
}

/* Snap en móvil */
@media (pointer: coarse) {
    .productos-contenedor {
        scroll-snap-type: x mandatory;
    }

    .producto-tarjeta {
        scroll-snap-align: start;
    }
}

/* Todavía no funciona bien esto. El agarrar en escritorio. */
.productos-contenedor.activo {
    user-select: none;
}


/* ===== 🍾 50/50 CÓMO FUNCIONA ===== */
.como-funciona {
    margin-top: 5rem;
}

.contenedor-como-funciona {
    display: flex;
    justify-content: center;

    border-radius: 1rem;
    overflow: hidden;

    background-color: white;
}

.como-funciona-contenido,
.como-funciona-imagen {
    flex: 0 0 50%;
    max-width: 50%;
}

.como-funciona-imagen {
    /* Si no lo usas, la imagen se estira */
    object-fit: cover;
    /* Evita zoom al crecer */
    aspect-ratio: 4 / 3;
    max-height: 550px;
}

.como-funciona-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.como-funciona-contenido-interno {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.como-funciona-encabezado {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.como-funciona-contenido .cta {
    border: 1px solid var(--color-texto);
    padding: .5rem 1rem;
    margin-top: 3rem;
}

@media (max-width: 900px) {
    #contenedorDeComoFunciona {
        display: contents;
    }

    .contenedor-como-funciona {
        flex-direction: column-reverse;
        border-radius: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .como-funciona-contenido,
    .como-funciona-imagen {
        flex: none;
        width: 100%;
        max-width: 100%;
    }

    .como-funciona-imagen {
        height: auto;
        max-height: 500px;
        object-fit: cover;
        aspect-ratio: auto;
    }

    .como-funciona-contenido {
        padding: 2rem 1.5rem;
        align-items: center;
        text-align: center;
    }

    .como-funciona-contenido-interno {
        /* max-width: 100%; */
        width: 100%;
        max-width: 500px;
    }

    .como-funciona-contenido-interno .cta {
        border: none;
    }
}


/* 🍾 ===== RESEÑAS ===== */
.reseñas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;

    margin-top: 5rem;
}

.reseñas-contenedor {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.reseña {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem 5rem;
    box-sizing: border-box;
    background-color: white;
}

.reseña-contenido {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.reseña-estrellas {
    font-size: 1.5rem;
}

.reseña-mensaje {
    font-family: "TT Chocolates";
    /* font-weight: 700; */
    font-size: 2rem;
}

.reseña-autor {
    font-size: 1.2rem;
}

.reseña-imagen {
    flex: 1;
    display: flex;
    justify-content: right;
}

.reseña-imagen img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.reseñas-flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    z-index: 10;
}

.reseñas-flecha.izquierda {
    left: 2rem;
}

.reseñas-flecha.derecha {
    right: 2rem;
}

@media (max-width: 900px) {
    .reseña {
        flex-direction: column;
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .reseña-imagen {
        order: -1;
        /* Coloca la imagen arriba del texto */
        justify-content: center;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .reseña-imagen img {
        max-width: 90%;
        height: auto;
        object-fit: cover;
    }

    .reseña-contenido {
        align-items: center;
        padding: 1rem 0;
    }

    .reseña-mensaje {
        font-size: 1.5rem;
    }

    .reseña-estrellas {
        font-size: 1.3rem;
    }

    .reseña-autor {
        font-size: 1rem;
    }

    .reseñas-flecha {
        top: auto;
        bottom: 1rem;
        transform: none;
        font-size: 2.5rem;
    }

    .reseñas-flecha.izquierda {
        left: 1rem;
    }

    .reseñas-flecha.derecha {
        right: 1rem;
    }
}

.reseña-estrellas {
    display: flex;
    gap: .25rem;
}

.reseña-estrellas svg {
    width: 1.5rem;
    fill: var(--color-principal);
}

.reseña-contenido {
    text-transform: lowercase;
}

.reseña-mensaje {
    font-style: italic;
}

.reseña-autor {
    font-weight: 700;
}

.reseña-imagen img {
    border-radius: .25rem;
}


/* ===== 🍾 BLOG ===== */
.blog {
    margin-top: 5rem;
}

.blog-articulos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.blog-articulo {
    flex: 1 1 426px;
    max-width: 426px;
    transition: transform 0.3s ease, scale 0.3s ease;
}

.blog-articulo:nth-child(even) {
    transform: rotate(.5deg);
}

.blog-articulo:nth-child(odd) {
    transform: rotate(-.5deg);
}

.blog-articulo:hover {
    transform: rotate(0deg) scale(1.03);
}

/* 👁️ Ajustar el número de la media query, quitar el padding */
@media (max-width: 768px) {
    /* #contenedorBlog {
        padding: 1rem;
    } */

    .blog-articulos {
        flex-direction: column;
        align-items: center;
    }
}


/* 🍾 ===== COLLAGE ===== */
.collage {
    margin-top: 5rem;
}

.collage-contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.collage-item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.collage-item:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.collage-item img {
    /* border-radius: 1rem; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.collage-item:hover img {
    transform: scale(1.05);
    filter: brightness(1.05);
}

.collage-item-destacado {
    grid-column: span 2;
    grid-row: span 2;
}

/* Primera imagen destacada */
.collage-item-destacado-primero {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Última imagen destacada */
.collage-item-destacado-ultimo {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
}

@media (max-width: 768px) {
    .collage-contenedor {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .collage-item-destacado {
        grid-column: span 1;
        grid-row: span 1;
    }
}

/* 🍾 ===== NEWSLETTER ===== */
.newsletter {
    margin-top: 5rem;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 710px;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */
}

.newsletter-encabezado {
    font-weight: 600;
    font-size: 1.25rem;
}

.newsletter-formulario {
    display: flex;
    gap: 1.25rem;
}

.newsletter-formulario input {
    flex: 1;
    padding: .75rem 1rem;
    border: 1px solid var(--color-texto);
    border-radius: .25rem;
    background-color: transparent;
    font-family: "TT Chocolates";
    font-size: 1rem;
}

/* Mostrar outline al tabular */
.newsletter-formulario input:focus {
    outline: none;
}

.newsletter-formulario button {
    padding: .5rem 2.5rem;
    border: 1px solid var(--color-texto);
    background-color: transparent;
}

.newsletter-aviso a {
    text-decoration: underline;
}