/* 游띟 PLAYGROUND */
body {
    min-height: 500vh;
}


/* Fondo transparente en la barra de navegaci칩n */
.barra-navegacion--transparente {
    background-color: transparent;
}

@media (hover:hover) and (pointer: fine) {
    .barra-navegacion:hover {
        background-color: white;
    }
}


/* 游 BANNER PROMOCIONAL */
.banner-promocional {
    padding: .25rem;
    background-color: var(--color-acento);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-align: center;
    line-height: 1.5rem;
}


/* 游 HERO BANNER */
.hero-banner {
    display: flex;
    position: relative;
    width: 100%;
    /* Height calculado con JS */
}

.hero-banner-imagen {
    position: absolute;
    /* Top y height calculado con JS */
    left: 0;
    width: 100%;

    object-fit: cover;
    object-position: top;
}

.hero-banner-contenido {
    /* display: none; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
}

.hero-banner-encabezado,
.hero-banner-texto {
    display: none;
}

.hero-banner-cta {
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--color-texto);
    color: white;
    transition: background .2s ease-out, color .2s ease-out, box-shadow .2s ease-out, webkit-box-shadow .2s ease-out;

    margin-bottom: 5rem;
}

.hero-banner-cta:hover {
    background-color: white;
    color: var(--color-texto);
    text-shadow: 0 3px 8px rgba(0, 0, 0, .1);
}


/* 游 MARQUEE */
.marquee {
    display: flex;
    overflow: hidden;
    gap: .5rem;
    position: relative;
    user-select: none;
    background-color: white;
    padding: 1.5rem;
}

.marquee-contenido {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: .5rem;

    animation: desplazar 20s linear infinite;
}

.marquee:hover .marquee-contenido {
    animation-play-state: paused;
}

@keyframes desplazar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@media (max-width: 650px) {
    .marquee {
        gap: 2rem;
    }

    .marquee-contenido {
        gap: 2rem;
    }
}


/* 游 PRODUCTOS */
.productos {
    margin-top: 3rem;
}

.productos-contenedor {
    display: flex;
    flex-wrap: nowrap;
    /* Permite hacer scroll */
    overflow-x: auto;
    gap: 1.5rem;
    /* Esconder la scrollbar */
    scrollbar-width: none;
    /* Sin el, se ve un poco el color de fondo de .producto-tarjeta en la parte inferior */
    align-items: center;
}

.productos-encabezado {
    margin: 1.5rem 0;
}

.producto-tarjeta {
    flex-grow: 0;
    flex-shrink: 1;
    /* 4 tarjetas menos el gap (1.5rem x 3 / 4) */
    flex-basis: calc(25% - 1.125rem);

    border-radius: .75rem;
    overflow: hidden;
    position: relative;
}

.product-tarjeta a {
    display: block;
    width: 100%;
    height: 100%;
}

.producto-tarjeta img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform .4s ease;
}

.producto-tarjeta:hover img {
    transform: scale(1.08);
}

.producto-tarjeta h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin: 1rem 2rem;

    font-family: "TT Chocolates";
    font-weight: 700;
    font-size: 1rem;
    color: white;
    /* text-transform: lowercase; */
    text-shadow:
        0 1px 1px rgba(0, 0, 0, 0.3),
        0 2px 4px rgba(0, 0, 0, 0.2),
        0 0 8px rgba(255, 255, 255, 0.15);
    ;
}

/* Activar deslizado */
@media (max-width: 750px) {
    .producto-tarjeta {
        flex-shrink: 0;
        flex-basis: 250px;
    }
}

/* Snap en m칩vil */
@media (pointer: coarse) {
    .productos-contenedor {
        scroll-snap-type: x mandatory;
    }

    .producto-tarjeta {
        scroll-snap-align: start;
    }
}

/* Todav칤a no funciona bien esto. El agarrar en escritorio. */
.productos-contenedor.activo {
    user-select: none;
}


/* ===== 游 50/50 C칍MO FUNCIONA ===== */
.como-funciona {
    margin-top: 5rem;
}

.contenedor-como-funciona {
    display: flex;
    justify-content: center;
    
    border-radius: 1rem;
    overflow: hidden;
    
    background-color: white;
}

.como-funciona-contenido,
.como-funciona-imagen {
    flex: 0 0 50%;
    max-width: 50%;
}

.como-funciona-imagen {
    /* Si no lo usas, la imagen se estira */
    object-fit: cover;
    /* Evita zoom al crecer */
    aspect-ratio: 4 / 3;
    max-height: 550px;
}

.como-funciona-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.como-funciona-contenido-interno {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.como-funciona-encabezado {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.como-funciona-contenido .cta {
    border: 1px solid var(--color-texto);
    padding: .5rem 1rem;
    margin-top: 3rem;
}

@media (max-width: 900px) {
    #contenedorDeComoFunciona {
        display: contents;
    }

    .contenedor-como-funciona {
        flex-direction: column-reverse;
        border-radius: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .como-funciona-contenido,
    .como-funciona-imagen {
        flex: none;
        width: 100%;
        max-width: 100%;
    }

    .como-funciona-imagen {
        height: auto;
        max-height: 500px;
        object-fit: cover;
        aspect-ratio: auto;
    }

    .como-funciona-contenido {
        padding: 2rem 1.5rem;
        align-items: center;
        text-align: center;
    } 

    .como-funciona-contenido-interno {
        /* max-width: 100%; */
        width: 100%;
        max-width: 500px;
    }

    .como-funciona-contenido-interno .cta {
        border: none;
    }
}


/* 游 ===== RESE칌AS ===== */
.rese침as {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    
    margin-top: 5rem;
}

.rese침as-contenedor {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.rese침a {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem 5rem;
    box-sizing: border-box;
    background-color: white;
}

.rese침a-contenido {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.rese침a-estrellas {
    font-size: 1.5rem;
}

.rese침a-mensaje {
    font-family: "TT Chocolates";
    /* font-weight: 700; */
    font-size: 2rem;
}

.rese침a-autor {
    font-size: 1.2rem;
}

.rese침a-imagen {
    flex: 1;
    display: flex;
    justify-content: right;
}

.rese침a-imagen img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.rese침as-flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    z-index: 10;
}

.rese침as-flecha.izquierda {
    left: 2rem;
}

.rese침as-flecha.derecha {
    right: 2rem;
}

@media (max-width: 900px) {
    .rese침a {
        flex-direction: column;
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .rese침a-imagen {
        order: -1;
        /* Coloca la imagen arriba del texto */
        justify-content: center;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .rese침a-imagen img {
        max-width: 90%;
        height: auto;
        object-fit: cover;
    }

    .rese침a-contenido {
        align-items: center;
        padding: 1rem 0;
    }

    .rese침a-mensaje {
        font-size: 1.5rem;
    }

    .rese침a-estrellas {
        font-size: 1.3rem;
    }

    .rese침a-autor {
        font-size: 1rem;
    }

    .rese침as-flecha {
        top: auto;
        bottom: 1rem;
        transform: none;
        font-size: 2.5rem;
    }

    .rese침as-flecha.izquierda {
        left: 1rem;
    }

    .rese침as-flecha.derecha {
        right: 1rem;
    }
}

.rese침a-estrellas {
    display: flex;
    gap: .25rem;
}

.rese침a-estrellas svg {
    width: 1.5rem;
    fill: var(--color-principal);
}

.rese침a-contenido {
    text-transform: lowercase;
}

.rese침a-mensaje {
    font-style: italic;
}

.rese침a-autor {
    font-weight: 700;
}

.rese침a-imagen img {
    border-radius: .25rem;
}
















