/* Debug */
/* 👁️ Add fallback fonts and more default styling and move it to global.css */
body {
    font-family: "TT Chocolates";
    color: var(--color-texto);
    background-color: var(--color-fondo);
}

body {
    min-height: 500vh;
}

/* BANNER PROMOCIONAL */
.banner-promocional {
    padding: .25rem;
    background-color: var(--color-acento);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-align: center;
    line-height: 1.5rem;
}

/* BARRA DE NAVEGACIÓN */
/* Nivel Superior */
.barra-navegacion {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;

    background-color: white;

    position: sticky;
    top: 0;
}

.barra-navegacion-izquierda {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.barra-navegacion-derecha {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* Soluciona un error donde <li> mide +5px de alto */
.barra-navegacion li {
    display: flex;
}

/* ⬅️ Parte Izquierda */
.barra-navegacion-izquierda-movil {
    display: none;
}

.barra-navegacion-izquierda-escritorio {
    display: flex;
    gap: 1rem;
}

.barra-navegacion-izquierda-escritorio li a {
    display: block;
    padding: .6rem;
}

.barra-navegacion-izquierda-escritorio li a:hover {
    background-color: var(--color-fondo);
    border-radius: .25rem;
}

@media (max-width: 1200px) {
    .barra-navegacion-izquierda-escritorio {
        display: none;
    }

    /* Necesita la referencia específica para sobrescribir el estilo que soluciona el +5px de alto */
    .barra-navegacion-acciones .boton-cuenta {
        display: none;
    }

    .barra-navegacion-izquierda-movil {
        display: flex;
        gap: 1.5rem;
    }
}

/* ➡️ Parte Derecha */
.barra-navegacion-acciones {
    display: flex;
    gap: 1.5rem;
}

/* 🖼️ Logo */
.logo {
    font-family: "Univers 67 Condensed";
    font-size: 1.2rem;
    color: var(--color-texto);
}

/* Iconos */
.icono {
    width: 1.5rem;
    color: var(--color-texto);
}

.icono-favoritos {
    fill: transparent;
    transition-property: fill transform;
    transition-duration: .35s;
}

/* Se puede mejorar asignando una clase especial al <li> de favoritos */
.barra-navegacion-acciones button:hover .icono-favoritos {
    fill: var(--color-barbie);
    transform: rotate(15deg) scale(1.2);
}

/* Menú Lateral */
/* 👁️: Cuidado con los z-index. El menú lateral debería de tener uno menor que el navbar */
/* El top, height y width se calculan dinámicamente desde JS */
.menu-lateral {
    position: fixed;
    left: 0;
    background-color: white;

    overflow: hidden;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.menu-lateral.activo {
    clip-path: inset(0 0 0% 0);
    opacity: 1;
    pointer-events: auto;
}

/* Animación icono hamburguesa */
.boton-hamburguesa .linea {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
}

.boton-hamburguesa[aria-expanded="true"] .linea {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.boton-hamburguesa[aria-expanded="true"] :is(.superior, .inferior) {
    y: 11.25;
}

.boton-hamburguesa[aria-expanded="true"] .superior {
    rotate: 45deg;
}

.boton-hamburguesa[aria-expanded="true"] .central {
    opacity: 0;
}

.boton-hamburguesa[aria-expanded="true"] .inferior {
    rotate: -45deg;
}

/* .boton-hamburguesa .linea {
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 300ms ease, opacity 0ms 300ms;
  }
  
  .boton-hamburguesa[aria-expanded="true"] .superior {
    transform: translateY(100%) rotate(45deg);
  }
  
  .boton-hamburguesa[aria-expanded="true"] .central {
    opacity: 0;
  }
  
  .boton-hamburguesa[aria-expanded="true"] .inferior {
    transform: translateY(-100%) rotate(-45deg);
  } */

/* 📱 Responsive */
@media (max-width: 1200px) {
    .barra-navegacion {
        padding: 1rem 1.25rem;
    }

    .logo {
        font-size: 1rem;
    }
}