body {
    min-height: 500dvh;
}

.modal-cookies {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-fondo);

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.cookies-informacion {
    flex: 0 0 66%;
}

.cookies-informacion h2 {
    margin-bottom: .5rem;
}

.cookies-informacion p {
    font-size: .9rem;
    line-height: 1.5;
}

.cookies-botones {
    flex: 0 0 33%;
    width: 33%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.cookies-botones button {
    padding: .75rem 2.5rem;
    border-radius: .15rem;
}

.fondo-cookies {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    /* display: none;
    opacity: 0; */
    animation: none;
}

@media (max-width: 1200px) {
    .modal-cookies {
        flex-direction: column;
        gap: 1.5rem;
    }

    .cookies-informacion {
        width: 100%;
    }

    .cookies-botones {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
}