<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración básica -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Metadatos para SEO -->
    <title>FAQ | Brindis®</title>
    <meta name="description" content="..." />
    <meta name="keywords" content="..., ..., ..." />
    <meta name="author" content="..." />

    <!-- Open Graph -->
    <!-- <meta property="og:title" content="Brindis® - Página Oficial" />
    <meta property="og:description" content="..." />
    <meta property="og:image" content="/assets/meta/opengraph/opengraph. ..." />
    <meta property="og:image:secure_url" content="/assets/meta/opengraph/opengraph. ..." />
    <meta property="og:image:alt" content="..." />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Brindis" />
    <meta property="og:url" content="/index.html" />
    <meta property="og:locale" content="es_ES" /> -->

    <!-- Favicon y Web App Manifest -->
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥂</text></svg>">
    <!-- <link rel="icon" type="image/x-icon" href="/assets/meta/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/meta/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/meta/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/meta/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/meta/favicon/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/meta/favicon/favicon-512x512.png" />
    <link rel="icon" type="image/svg+xml" href="/assets/meta/favicon/favicon.svg" /> 

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/meta/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Brindis" /> -->

    <!-- Hojas de estilo -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/bolsos/bolsos.css" />

    <!-- Componentes -->
    <script src="/components/footer.js" defer></script>
    <script src="/components/header.js" defer></script>

    <!-- Scripts -->
    <script src="/js/app.js" defer></script>
    <script src="/js/bolsos/bolsos.js" defer></script>
</head>

<body>
    <header>
        <brindis-header></brindis-header>
    </header>

    <main>
        <section class="producto">
            <div class="producto-visual no-seleccionar">
                <div class="barra-imagenes">
                    <img class="active"
                        src="/assets/images/bolsos/{{sku}}/miniatura/{{sku}}-miniatura-{{color-bolso}}-1.webp"
                        data-index="0">
                    <img src="/assets/images/bolsos/{{sku}}/miniatura/{{sku}}-miniatura-{{color-bolso}}-2.webp"
                        data-index="1">
                    <img src="/assets/images/bolsos/{{sku}}/miniatura/{{sku}}-miniatura-{{color-bolso}}-3.webp"
                        data-index="2">
                    <img src="/assets/images/bolsos/{{sku}}/miniatura/{{sku}}-miniatura-{{color-bolso}}-4.webp"
                        data-index="3">
                </div>

                <div class="imagen-principal">
                    <div class="carrusel-principal">
                        <img src="/assets/images/bolsos/{{sku}}/{{sku}}-{{color-bolso}}-1.webp">
                        <img src="/assets/images/bolsos/{{sku}}/{{sku}}-{{color-bolso}}-2.webp">
                        <img src="/assets/images/bolsos/{{sku}}/{{sku}}-{{color-bolso}}-3.webp">
                        <img src="/assets/images/bolsos/{{sku}}/{{sku}}-{{color-bolso}}-4.webp">
                    </div>
                </div>
            </div>
            <div class="producto-detalles">
                <!-- Primera Línea -->
                <div class="primera-linea">
                    <h1 class="producto-nombre">{{nombre}}</h1>
                    <button class="producto-favorito" aria-label="Marcar como favorito">
                        <svg class="icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path
                                d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
                        </svg>
                    </button>
                </div>

                <!-- Tagline -->
                <p class="producto-tagline">{{tagline}}</p>

                <!-- Rating -->
                <div class="producto-reviews">
                    <div class="producto-reviews-estrellas">
                        {{reviews-estrellas}}
                    </div>
                    <p class="producto-reviews-texto"><span
                            class="producto-reviews-cantidad">({{reviews-cantidad}})</span> reviews</p>
                </div>

                <!-- Precio -->
                <p class="producto-precio">{{precio}}</p>

                <!-- Colores -->
                <div class="producto-colores">
                    {{colores}}
                </div>

                <!-- Cesta -->
                <div class="producto-cesta-contenedor">
                    <div class="producto-cesta-cantidad">
                        <button type="button" class="cesta-boton-decrementar">-</button>
                        <input inputmode="numeric" min="1" max="10" value="1" aria-label="Cantidad de productos">
                        <button type="button" class="cesta-boton-incrementar">+</button>
                    </div>
                    <button class="cta producto-cesta-boton" type="button">añadir a la cesta</button>
                </div>

                <!-- Información sobre el producto -->
                <div class="producto-info">
                    <details class="producto-info-item" open>
                        <summary class="no-seleccionar">detalles</summary>
                        <div>
                            {{descripcion}}
                        </div>
                    </details>
                    <details class="producto-info-item">
                        <summary class="no-seleccionar">medidas</summary>
                        <div>
                            {{medidas}}
                        </div>
                    </details>
                    <details class="producto-info-item">
                        <summary class="no-seleccionar">envíos y devoluciones</summary>
                        <div>
                            <p>
                                Realizamos envíos estándar en un plazo de 24 a 48 horas laborables dentro de la
                                península, y en 3 a 5 días laborables para Islas Baleares, Islas Canarias y el resto de
                                Europa.
                            </p>
                            <p>
                                Dispones de 14 días desde la entrega para devolver tu pedido. Los gastos de devolución
                                son de 6 € para envíos dentro de la península e Islas Baleares, y de 15 € para Europa e
                                Islas Canarias.
                            </p>
                            <p>
                                Actualmente no gestionamos cambios. Si deseas un artículo diferente, solo tienes que
                                devolver el que tienes y realizar una nueva compra con el modelo que prefieras.
                            </p>
                        </div>
                    </details>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <brindis-footer></brindis-footer>
    </footer>

</body>

</html>